PORT=8000
MONGODB_URI=mongodb+srv://tushar:your-password:tushar5155@cluster0.w2oqf0r.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=char-aur-code
ACCESS_TOKEN_EXPIRY=Id
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=TUSHARCLOUD
CLOUDINARY_API_KEY=387797162446796
CLOUDINARY_API_SECRET=DcqdEjqMBcGTCuqdfabq2BW3rYc